.image {
  flex: 2;
  border-radius: 20px 0 0 20px;
}

.text_wrapper {
  flex: 3;
  padding: 20px;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.text {
  font-size: 22px;
}

@media (width <= 740px) {
  .image {
    aspect-ratio: 3 / 1;
    border-radius: 20px 20px 0 0;
  }
  .text {
    font-size: 18px;
  }
  .text_wrapper {
    border-radius: 0 0 20px 20px;
  }
}

@media (width <= 580px) {
  .title {
    font-size: 24px;
  }
  
  .text {
    font-size: 18px;
  }
}