.page {
  min-inline-size: 360px;
  max-inline-size: 960px;
  margin: auto;
  padding-block: 50px;
  padding-inline: 30px;
  color: #05b917;
}

.header {
  background-color: #111;
  padding-block: 5% 2%;
  padding-inline: 10px;
  border: 2px solid currentColor;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-block-end: 50px;
}

.title {
  font-size: clamp(1.5625rem, 0.2841rem + 5.6818vw, 3.125rem);
  margin-block-end: 10px;
}

.slogan {
  font-size: clamp(0.875rem, 0.3125rem + 2.5vw, 1.25rem);
}

.switcher {
  position: relative;
  display: block;
  inline-size: 80px;
  block-size: 40px;
  border-radius: 100px;
  box-shadow: 0 0 20px #111;
  background: grey no-repeat 5px center url(../../assets/switch-off.svg);
  background-size: 40px 40px;
  transition: 0.3s;
  margin: 0 auto 20px;
}

.switcher:hover {
  cursor: pointer;
}

.switcher:has(.checkbox:checked) {
  background: #a05e5e no-repeat 35px center url(../../assets/switch-on.svg);
  background-size: 40px 40px;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (width <= 780px) {
  .cardList {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (width <= 520px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}