*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: #000;
  background-image:
      repeating-linear-gradient(90deg, #111 0 2px, transparent 2px 4px),
      repeating-linear-gradient(#111 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c, #004306);
  background-attachment: fixed;
}